* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: auto;
}

.container {
    background-color: rgb(231,254,254);
    text-align: center;
    /*background-attachment: fixed;*/
    
}

.header {
    color: dodgerblue;
}


.header__image{
    background: url('./image/brookbarket.jpg') center/cover no-repeat;
    max-width: 600px;
    height: 350px;
    border: 10px solid  white;
    margin: 0 auto;
}

.about {
    color: rgb(60, 174, 231);
}

.about__article {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    max-width: 700px;
    margin: 0 auto;
    column-gap: 15px;
    flex-wrap: wrap;
}

.about__title{
    padding: 10px 0;
}

.about__article__image {
    width: 300px;
    height: 250px;
    background: url(./image/facts.jpg) center/cover no-repeat;
    margin-bottom: 10px;
}

.about__article__description {
    text-align: left;
    width: 370px;
}

.photos {
    max-width: 1200px;
}

.photos__title {
    color: dodgerblue;
}

.photos__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
}

.photos__container__photo {
    width: 360px;
    height: 200px;
}

.photos__container__photo_element_1 {
    background: url(./image/fact1.jpg) center/cover no-repeat;
}

.photos__container__photo_element_2 {
    background: url(./image/fact2.jpg) center/cover no-repeat;
}

.photos__container__photo_element_3 {
    background: url(./image/fact3.jpg) center/cover no-repeat;
}

.photos__container__photo_element_4 {
    background: url(./image/fact4.jpg) center/cover no-repeat;
}

.photos__container__photo_element_5 {
    background: url(./image/fact5.jpg) center/cover no-repeat;
}

.photos__container__photo_element_6 {
    background: url(./image/fact6.jpg) center/cover no-repeat;
}
.checkout{
    padding: 20px 0px 20px 0px;
}

.contact-information {
    padding: 30px 0px 30px 0px;
    text-align: center;
    background-color: rgb(209, 250, 250);
}

.contact-information .tel{
    font-weight: 600;
}

.footer{
    margin: 0;
    max-width: 300;
}
